$primary-color: #f6f6ef;
$subtext-color: #999999;
$font-stack: Verdana, sans-serif;

.container {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;

  font-family: $font-stack;
  font-size: small;
  margin: auto;
  width: 90%;

  .btn {
    display: flex;
    background-color: $primary-color;
    font-size: medium;
    border: 0;
    padding-left: 5%;
    margin-bottom: 10px;
    text-align: left;
  }
}
