$primary-color: #e7e7da;
$subtext-color: #999999;
$font-stack: Verdana, sans-serif;

.container {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  padding: 10px;
  max-width: 100%;
  font-family: $font-stack;

  .btn {
    background-color: $primary-color;
    font-size: medium;
    border: 0;
    text-align: left;
  }
}
