$subtext-color: #999999;
.item {
  padding-bottom: 10px;
  .triangle {
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 0px;
    background: url(triangle.svg),
      linear-gradient(transparent, transparent) no-repeat;
    background-size: 10px;
  }

  a,
  span {
    text-decoration: none;
    color: $subtext-color;
    font-size: small;
  }
  a:hover {
    text-decoration: underline;
  }

  .index {
    font-size: medium;
  }
  .title {
    color: black;
    font-size: medium;
  }
  .title:hover {
    text-decoration: none;
  }
}
