<div class="item">
  <div>
    <span class="index">{{ index + 1 }}.</span>
    <svg class="triangle" />
    <a class="title">{{ story?.title }} </a>
    <a href="#">({{ story?.url }})</a>
  </div>
  <div>
    <span> {{ story?.score }} points by</span>
    <a href="#"> {{ story?.by }} </a>
    <a href="#"> {{ story?.time | date : "shortTime" }} |</a>
    <a href="#"> hide | </a>
    <a [routerLink]="['/item']" (click)="commentsClicked()"
      >{{ story?.descendants }} comments</a
    >
  </div>
</div>
