<div>
  <table *ngFor="let item of loadedStories; index as i; today">
    <tr>
      <td>
        <span class="rankNumber">{{ i + 1 }}.</span>
        <img class="voteArrow" />
        <a href="#" class="title">{{ item.title }}</a>
        <span class="site">({{ item.url }})</span>
      </td>
    </tr>
    <tr class="subtext">
      <td>
        <span class="score"> {{ item.score }} points by</span>
        <a href="#" class="name"> {{ item.by }} </a>
        <span class="time">
          <a href="#" class="name">{{ item.time | date : "shortTime" }}</a>
          |
          <a href="#" onclick="">hide</a>
          |
          <a href="#" class="comments">{{ item.descendants }} comments</a>
        </span>
      </td>
    </tr>
  </table>
</div>
