<div *ngIf="!comment?.dead">
  <div class="commentData">
    <svg class="triangle" />
    <a href="">{{ comment?.by }}</a>
    <a href=""> {{ comment?.time | date : "shortTime" }}</a>

    <a href=""> | prev </a>

    <a href=""> | next</a>
    <button class="commentNum" (click)="toggleComm()">
      [{{ comment?.kids?.length }} more]
    </button>
  </div>
  <div class="commentBody">
    <p>{{ comment?.text }}</p>
  </div>
  <div class="childComment" *ngIf="comment?.kids">
    <div *ngFor="let commentKids of comment.kids">
      <app-comment [hidden]="!expanded" [commentId]="commentKids"></app-comment>
    </div>
  </div>
</div>
